src/main/java/org/example/Lab2/noderedFlow/flows.json
[{"id":"d41e06cda344cf5f","type":"tab","label":"2 Lab","disabled":false,"info":"","env":[]},{"id":"68fdae389377455c","type":"inject","z":"d41e06cda344cf5f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":80,"wires":[["87143c85ed812465"]]},{"id":"87143c85ed812465","type":"http request","z":"d41e06cda344cf5f","name":"Запит існуючого рейсу","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:8080/BusStation/A125","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":550,"y":80,"wires":[["8e48c42e2982737b"]]},{"id":"8e48c42e2982737b","type":"debug","z":"d41e06cda344cf5f","name":"Рейс A125","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":80,"wires":[]},{"id":"51183c750ef781fe","type":"http request","z":"d41e06cda344cf5f","name":"Метод POST","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/BusStation","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":510,"y":160,"wires":[["e32d45de85711257","9cfa145e6cfa9f99"]]},{"id":"e330ba38e46d9d85","type":"template","z":"d41e06cda344cf5f","name":"Новий рейс","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"busNumber\": \"C745\",\n    \"departureLocation\": \"м. Вінниця\",\n    \"destination\": \"м. Тернопіль\",\n    \"departureTime\": \"09:00\",\n    \"arrivalTime\": \"13:00\"\n}","output":"json","x":330,"y":160,"wires":[["51183c750ef781fe"]]},{"id":"fb91a994cf19c5a0","type":"inject","z":"d41e06cda344cf5f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["e330ba38e46d9d85"]]},{"id":"0f61a18dfc6570c6","type":"debug","z":"d41e06cda344cf5f","name":"Всі рейси","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":960,"y":240,"wires":[]},{"id":"e32d45de85711257","type":"http request","z":"d41e06cda344cf5f","name":"Запит всіх рейсів","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:8080/BusStation","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":730,"y":240,"wires":[["0f61a18dfc6570c6"]]},{"id":"bd91a22f33eb99ea","type":"http request","z":"d41e06cda344cf5f","name":"Метод DELETE","method":"DELETE","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/BusStation/B307","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":500,"y":320,"wires":[["e32d45de85711257","33cd0de0a1578d54"]]},{"id":"d76785c732b4f9d3","type":"inject","z":"d41e06cda344cf5f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":320,"wires":[["bd91a22f33eb99ea"]]},{"id":"33cd0de0a1578d54","type":"debug","z":"d41e06cda344cf5f","name":"debug DELETE","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":320,"wires":[]},{"id":"9cfa145e6cfa9f99","type":"debug","z":"d41e06cda344cf5f","name":"debug POST","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":140,"wires":[]},{"id":"499c89b179d69fd9","type":"inject","z":"d41e06cda344cf5f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":240,"wires":[["e32d45de85711257"]]}]